{% extends "base.html" %}
{% load static %}
{% block content %}

{% if request.user.is_company%}
        <br/>
        {% if list_of_ingrediants %}
        <h3>List of ingrediants according to search count</h3>
        <ul>
        {% for ing in list_of_ingrediants %}
            <li><h4>{{ ing.name }} :: count: {{ ing.count }}</h4></li>
        {% endfor %}
        </ul>
        {% endif %}

        <br/>
        <br/>
<form method="POST" action="{% url 'search_ingredients' %}" class="form">
          {% csrf_token %}
          <div >
            <select name="score" id="score">
              <option disabled selected value>
              <option value=1>1 star & up</option>
              <option value=2>2 star & up</option>
              <option value=3>3 star & up</option>
              <option value=4>4 star & up</option>
              <option value=5>5 star & up</option>
            </select>
        </div>
        <!-- <input type="submit" value="Filter Recipe"> -->
          <input type="submit" value="Search">
      </form>
      <br/>
     
      {% if searched_filter_score %}
      <h4>Rating: {% for o in searched_filter_score %} {{o}} & up{% endfor %}</h4>
      {% endif %}
      <br/>


      {% if list_of_recipes %}
      <h3>List of recipes according to their rating</h3>
<br/>
      {% for recipe in list_of_recipes %}
        <div style="
        display: inline-block;
    " >
          {%if recipe.photo%}
          <img style="width: 250px;
          height: 200px; float: left;" src="{{ recipe.photo.url }}" />
         {%else%} 
         <div style="width: 250px;
          height: 200px; float: left; background: gray;color: white;
    font-size: 22px;
    text-align: center;" > No image</div> 
         {%endif%}
          <div style="float: left;">
            <h4 style="margin-left: 37px;"><a href="{% url 'recipes_detail' recipe.id %}">{{ recipe.name }} </a></h4>
            <br/>
            <p style="margin-left: 37px;">Rating: {{recipe.mscore}} star</p>
            <!-- <p style="margin-left: 37px;">Rating: {% widthratio recipe.score recipe.total_score 1 %} star</p> -->
            <br/>
            <p style="margin-left: 37px;">Uploaded on: {{recipe.upload_time}}</p>
          </div>
          
        
        </div> 
      {% endfor %}
      {%else%}<h2>No Recipes Available</h2>
      {% endif %}
{% else %}
<br/>
<a style="font-size: 22px;" href="{% url 'recipe_create' %}">Upload Recipe</a>
<br/>
<p style="margin-top: 50px;">Search any recipe by providing your ingredients....</p>
        <form method="POST"  action="{% url 'search_ingredients' %}" class="form">
          {% csrf_token %}
          <div >
            <div class="ingredients">
              <input required name="name" id="id" type="text" value="">
              <a class="extra-fields-ingredients" href="#">Add More Ingredients</a>
            </div>
            <div class="ingredients_dynamic"></div>
          </div>
          <div >
            Filter rating:
            <select style="width: 112px" name="score" id="score">
              <option disabled selected value>
              <option value=1>1 star & up</option>
              <option value=2>2 star & up</option>
              <option value=3>3 star & up</option>
              <option value=4>4 star & up</option>
              <option value=5>5 star & up</option>
            </select>
        </div>
          <input type="submit" value="Search">
      </form>
      <br/>
      <br/>
      {% if searched_ingrediants %}
      <h4>Ingrediants: {% for o in searched_ingrediants %} {{o}}{% endfor %}</h4>
      {% endif %}
      <br/>
      {% if searched_filter_score %}
      <h4>Rating: {% for o in searched_filter_score %} {{o}} & up{% endfor %}</h4>
      {% endif %}
      <br/>
      {% if list_of_recipes %}
      {% for recipe in list_of_recipes %}
        <div style="
        display: inline-block;
    " >
          {%if recipe.photo%}
          <img style="width: 250px;
          height: 200px; float: left;" src="{{ recipe.photo.url }}" />
         {%else%} 
         <div style="width: 250px;
          height: 200px; float: left; background: gray;color: white;
    font-size: 22px;
    text-align: center;" > No image</div> 
         {%endif%}
          <div style="float: left;">
            <h4 style="margin-left: 37px;"><a href="{% url 'recipes_detail' recipe.id %}">{{ recipe.name }} </a></h4>
            <br/>
            <p style="margin-left: 37px;">Rating: {{recipe.mscore}} star</p>
            <br/>
            <p style="margin-left: 37px;">Uploaded on: {{recipe.upload_time}}</p>
          </div>
          
        
        </div> 
      {% endfor %}
      {%elif searched_ingrediants%}<h2>No Recipes Available</h2>
      {% endif %}
{% endif %}

{% endblock %}
{% block external_js %}
<script type="text/javascript">
  $('.extra-fields-ingredients').click(function() {
  $('.ingredients').clone().appendTo('.ingredients_dynamic');
  $('.ingredients_dynamic .ingredients').addClass('single remove');
  $('.ingredients_dynamic .ingredients input').val("")

  $('.single .extra-fields-ingredients').remove();
  $('.single').append('<a href="#" class="remove-field btn-remove-customer">Remove</a>');
  $('.ingredients_dynamic > .single').attr("class", "remove");

  $('.ingredients_dynamic input').each(function() {
    var count = 0;
    var fieldname = $(this).attr("name");
    count++;
  });

});

$(document).on('click', '.remove-field', function(e) {
  $(this).parent('.remove').remove();
  e.preventDefault();
});
</script>
{% endblock %}
</html>
